.home{
    display: grid;
    grid-template-rows: 20% 1fr 20%;
    .home-header{
        background-color: $color-1;
        text-align: center;
        font-family: $font-1;
        font-size: 2.7rem;
        color: $color-2;
        padding: 15px;
        letter-spacing: 5px;
        text-shadow: 0 0 4px $color-2;
    }
    .home-content{
        background: $color-2;
        text-align: center;
        padding: 30px;
        height: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        .left-container{
            padding: 40px;
            img{
                width: 400px;
                height: 400px;
                object-fit: cover;
                border-radius: 12px;
                transition: 1s;
                &:hover{
                    box-shadow: 0 0 6px $color-1;
                    cursor: pointer;
                }
            }
        }
        .rigth-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 40% 1fr;
            grid-template-areas: 
                "r1 r2"
                "r3 r3";
            .left{
                grid-area: r1;
                .id-1{
                    font-size: 4rem;
                    letter-spacing: 5px;
                }
                .id-2{
                    font-size: 2rem;
                }
                .content{
                    display: flex;
                }
            }
            .rigth{
                grid-area: r2;
                display: flex;
                flex-direction: column;
                grid-gap: 20px;
            }
            .button-container{
                grid-area: r3;
                padding-top: 75px;
                .button{         
                    display: flex;
                    justify-content: space-around;           
                    .title{
                        border: 1px solid $color-4;
                        color: $color-4;
                        padding: 50px;
                        border-radius: 10px;
                        transition: 1s;
                        &:hover{
                            cursor: pointer;
                            background-color: $color-4;
                            color: $color-2;
                            transform: scale(1.05);
                        }
                    }
                }
            }
            .modal-container{
                z-index: 100;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                position: fixed;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 3s;
                backdrop-filter: blur(6px);

                .modal{
                    background: $color-1;
                    width: 60%;
                    height: 60%;
                    padding: 20px;
                    color: $color-2;
                    border-radius: 20px;
                    position: relative;
                    h3{
                        margin: 30px;
                        font-size: 5rem;
                    }
                    .cross{
                        position: absolute;
                        top: 20px;
                        right: 40px;
                        color: $color-4;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .modal-content{
                        margin: 40px;
                        text-align: center;
                        line-height: 30px;
                        font-size: 1.1rem;
                        p{
                            span{
                                color: $color-4;
                            }
                        }
                    }
                }
            }
        }
    }
    .home-footer{
        background: $color-1;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(50%);
        text-align: center;
        width: 90%;
        border-radius: 60px 60px 0 0;
        padding: 20px;
        color: $color-2;
        h3{
            margin: 10px;
        }
    }
}