@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/JosefinSans-ExtraLight.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(./assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(./assets/fonts/JosefinSans-Bold.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;
$font-3: "font-3", serif;


$color-1: #0d1118;
$color-2: #c1c7cc;
$color-3: #ED1C16;
$color-4: #E32934;

*{
  margin: 0;
  padding: 0;
  font-family: $font-2;
  text-decoration: none;
  list-style: none;
}